body {
    max-width: 1800px;
    margin: auto;
    background-color: orange;
}

/* logo sony */
.top_logo{
    width: 180px;
}

header > .jumbo {
    background-image: url(../img/jumbo-bg.png);
    min-height: 675px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main > .jumbo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    min-height: 675px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p_radius {
    border-radius: 1rem;
}


/* debug */



.box{
    height: 100px;
    background-color: aqua;
    width: 100%;
    border: 2px solid green;
}