body {
    max-width: 1800px;
    margin: auto;
}

/* logo sony */
.top_logo{
    width: 180px;
}

header > .jumbo {
    background-image: url(../img/jumbo-bg.png);
    min-height: 675px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main > .jumbo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    min-height: 675px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p_radius {
    border-radius: 1rem;
}

.max_social {
    max-width: 700px;
}

.footer_logo {
    width: 120px;
}

[alt=language_globe] {
    width: 15px;
    height: auto;
}

[alt=footer_sie_logo] {
    width: 200px;
}

footer ul{
    list-style: none;
}

footer a {
    color: white;
    text-decoration: none;
}


/* debug */

