.box{
    height: 100px;
    background-color: aqua;
    width: 100%;
    border: 2px solid green;
}

header > .jumbo {
    background-image: url(../img/jumbo-bg.png);
    min-height: 675px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    max-width: 1800px;
    margin: auto;
    background-color: orange;
}

main > .jumbo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    min-height: 675px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* debug */

.boxheader {
    height: 100px;
    background-color: aqua;
    width: 100px;
    border: 2px solid green;
}

[alt=playstation_plus_logo]{
    width: 50%;
}